@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Gruppo&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Oswald:wght@200;400&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@1,800&family=Roboto+Condensed:wght@700&family=Ysabeau+Office:wght@700&display=swap');
.page {
    overflow-x: hidden;
}
.content {
    z-index: 50;
    position: relative;
    top: 0vh;
    height: 100vh;
    width: 100vw;
}
.con-1 {
    background: url(../img/skybg2.png);
    background-size: cover;
    max-width: 100vw;
}
.home {
    position: relative;
    top: 40vh;
    height: 20vh;
}
.name {
    text-shadow: 1px 1px 5px white;
    height: 10vh;
    color: rgb(65, 52, 52);
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 5vh;
    
}
.subname {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 350;
    font-size: 2.2vh;
    position: relative;
    top: 1vh;
    left: 30vw;
    color:black;
}
.subtitle {
    width: 40vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    vertical-align:top;
    font-weight: 375;
    font-size: 2.5vh;
    position: relative;
    top: 1vh;
    left: 30vw;
    color: black;
    text-shadow: 7px 7px 3px black;
}
.con-2 {
    background: url(../img/huskybg.jpg);
    background-size: cover;
}
.cm-pg {
    color: white;
    background-color: rgba(0, 0, 0, 0.576);
    height: 100vh;
    position: relative;
    top: 0vh;
}
.cm{
    height: 90vh;
    position: relative;
    top: 10vh;
}
.about-pg {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s, transform 1s;
}
.hl {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 0vh 2vw;
}
.para {
    font-family: 'Montserrat', sans-serif;
    height: 85vh;
    padding: 2vh 10vw 0vh 10vw;
    font-size: 2.3vh;
}
.extra {
    padding: 1vh 0vw 0vh 0vw;
}
.con-3 {
    background: url(../img/sandzbg-lg.png);
    background-size: cover;
}
.work {
    background-color: rgba(0, 0, 0, 0.697);
    backdrop-filter: blur(2px);
}
.work-hl {
    font-size: larger;
    font-family: 'Ysabeau Office', sans-serif;
}
.topic {
    font-size: large;
    font-family: 'Ysabeau Office', sans-serif;
    position: relative;
}
.image {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    top: 9vh;
    left: 5vw;
    height: 55vh;
    width: 90vw;
}
.image::-webkit-scrollbar {
    display: none;
}
.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vh 5vw;
}
.slider-item img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.slider-number-buttons {
    position: relative;
    top: -13vh;
    text-align: center;
}
.slider-number-buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    color: black;
}
.slider-number-buttons button.active {
    box-shadow: 1px 1px 5px whitesmoke;
    font-size: 3.1vh;
    background-color: #f9f9f9;
    color: black;
    border: solid #ccc;
}
.contact {
    background: #f1e9e9;
}
.join {
    font-weight: 100;
    font-family: 'Cabin', sans-serif;
    padding: 3vh;
    font-size: 3.2vh;
}
.join-con {
    height: 36.5vh;
    place-items: center;
    padding: 0vh 2vw;
}
.join-img {
    width: 20vw;
    height: 13vh;
    object-fit: cover;
}
.text {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.45vh;
    width: 22vw;
    margin-top: 3vh;
}
.re-text {
    padding: 2vh;
}
.three-img {
    position: relative;
    top: 1vh;
}
.proff {
    box-shadow: 1px 1px 15px black;
    position: relative;
    left: 1vw;
    width: 17vw;
    border-radius: 100px;
    background-color: black;
}
.reach {
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-1 {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    font-weight: 100;
    font-family: 'Cabin', sans-serif;
    padding: 1.5vh;
    font-size: 3.2vh;
}
@media screen and (max-width: 320px) {
    .para {
        font-size: 2.15vh;
    }
    .extra {
        padding: 1vh 0vw 0vh 0vw;
    }
    .slider-number-buttons{
        position: relative;
        top: -18vh;
    }
    .tuto-1 {
        position: relative;
        left: -1vw;
        width: 22.49vw;
    }
    .proff {
        height: 12vh;
    }
}
@media screen and (max-width: 375px) {
    .proff {
        width: 21vw;
    }
    .tuto {
        position: relative;
        left: 3vw;
    }
}
@media screen and (min-width: 424px ){
    .para {
        font-size: 2.36vh;
        padding: 3vh 13vw 0vh 13vw;
    }
}
@media screen and (min-width: 768px) {
    .proff {
        width: 13vw;
        height: 13vh;
        position: relative;
        left:4vw;
    }
    .hl {
        font-size: 3vh;
        padding: 2.5vh 0vw;
    }
    .top {
        padding: 0vh 2vw;
    }
    .para {
        line-height: 3.7vh;
        height: 85vh;
        padding: 0.7vh 14vw 0vh 14vw;
        font-size: 2.55vh;
    }
    .topic {
        font-size: x-large;
    }
    .slider-number-buttons {
        top: -4vh;
    }
    .join-con {
        height: 35.6vh;
    }
    .need {
        position: relative;
        left: 3vw;
    }
    .join-text {
        position: relative;
        top: 4vh;
    }
}
@media screen and (min-width: 1024px) {
    .proff{
        position: relative;
        width: 14vw;
    }
}